@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animFadeIn {
    opacity: 0;
    animation: fadeIn 400ms forwards ease;
}

@keyframes chatAnimUser {
    0% {
        transform: scale(0.2) translate(30px, 40px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

@keyframes chatAnimBot {
    0% {
        transform: scale(0.2) translate(-30px, 40px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

.addAnim .messages.user {
    animation: chatAnimUser 400ms forwards ease;
}

.addAnim .messages.bot {
    animation: chatAnimBot 400ms forwards ease;
}

.animDelay0 {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.animDelay1 {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
}

.animDelay2 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.animDelay3 {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
}

.animDelay4 {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.animDelay5 {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

.animDelay6 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

.animDelay7 {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

.animDelay8 {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
}

.animDelay9 {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
}

.animDelay10 {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
}

.animDelay11 {
    -webkit-animation-delay: 1100ms;
    animation-delay: 1100ms;
}

.animDelay12 {
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
}

.animDelay13 {
    -webkit-animation-delay: 1300ms;
    animation-delay: 1300ms;
}

.animDelay14 {
    -webkit-animation-delay: 1400ms;
    animation-delay: 1400ms;
}

.animDelay15 {
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

.animDuration0 {
    animation-duration: 0ms;
}

.animDuration1 {
    animation-duration: 100ms;
}

.animDuration2 {
    animation-duration: 200ms;
}

.animDuration3 {
    animation-duration: 300ms;
}

.animDuration3 {
    animation-duration: 300ms;
}

.animDuration4 {
    animation-duration: 400ms;
}

.animDuration5 {
    animation-duration: 500ms;
}

.animDuration6 {
    animation-duration: 600ms;
}

.animDuration7 {
    animation-duration: 700ms;
}

.animDuration8 {
    animation-duration: 800ms;
}

.animDuration9 {
    animation-duration: 900ms;
}

.animDuration10 {
    animation-duration: 1000ms;
}

.animDuration11 {
    animation-duration: 1100ms;
}

.animDuration20 {
    animation-duration: 1200ms;
}

.animDuration30 {
    animation-duration: 1300ms;
}

.animDuration40 {
    animation-duration: 1400ms;
}

.animDuration50 {
    animation-duration: 1500ms;
}